<div class="alert alert-primary" role="alert">
  <p>subject: <code>no-kelompok_nama-kelompok_nama-lengkap_title-soal</code> example: <code>21_slack_Mukhlis-ade_steganography</code></p>
  <p>isi: upload jawaban dalam bentuk pdf sesuai format yang telah di share -> http://bit.ly/pftii-ctf-writeup2</p>
  <p>di kirim ke email : <a href="mailto:ctf.tugas@gmail.com">ctf.tugas@gmail.com</a></p>
</div>
<div class="alert alert-danger">
  <strong>Dilarang plagiat</strong>, untuk laporan yang terindikasi plagiat point tidak di anulir untuk kedua belah pihak.
</div>

<h5>Easy</h5>
<div class="row">
  <div class="col-lg-12">
    <div class="card-deck">
      <!-- <div class="col-md-3"> -->
        {% include soal.html judul="Format Flag" point="0" hint="Semua format flag pakai pftii{}" link="/soal/Zm9ybWF0IGZsYWc=" id="1" color="success" %}
      <!-- </div>  -->
      <!-- <div class="col-md-3"> -->
        {% include soal.html judul="cryptography 1" point="0" hint="hexadecimal" link="" isi="pemanasan 70 66 74 69 69 7b 65 61 73 79 7d" id="2" color="success" %}
      <!-- </div> -->
      <!-- <div class="col-md-3"> -->
        {% include soal.html judul="Follow & Focus" hint="About" link="https://www.facebook.com/hmifittelkom/" point="0" id="3" color="success" %}
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- easy 2 -->
<div class="row">
  <div class="col-lg-12 mt-3">
    <div class="card-deck">
        {% include soal.html judul="hash 5" point="1" hint="md5" link="" id="4" isi="4120b168150f5c548f7aa669a7dfbf76" color="success" %}
        {% include soal.html judul="hash 13" point="1" hint="rot13" link="" id="5" color="success" isi="csgvv{GuvfEBGgvtnOrynf}" %}
        
    </div>
  </div>
</div>

<h5 class="mt-3">Medium</h5>
<!-- medium 1 -->
<div class="row">
  <div class="col-lg-12">
    <div class="card-deck">
      {% include soal.html judul="cryptography 2" point="0" hint="double crypto" isi="boy is student at Institut Teknologi Telkom Purwokerto, he found this text on the class but he can't read this. your task is help boy to find the message MDEwMDEwMDEgMDExMDExMDAgMDExMDExMTEgMDExMTAxMTAgMDExMDAxMDEgMDEwMTAxMDEgMDEwMDAwMTAgMDExMDExMTEgMDExMTEwMDE=" id="6" color="warning" %}
      {% include soal.html judul="cryptography 3" point="0" hint="jangan tertipu dengan exe" link="https://firebasestorage.googleapis.com/v0/b/pftii2-telkom.appspot.com/o/cryptography%201.zip?alt=media&token=31e2ce3c-6043-4bd4-a19d-48896da0b5ac" id="7" 
      color="warning"%}
      {% include soal.html judul="Find me" point="5" hint="under layer" link="https://firebasestorage.googleapis.com/v0/b/pftii2-telkom.appspot.com/o/index.7z?alt=media&token=4de32aea-a76f-4a4f-8c59-83272361480a" id="8" color="warning" %}
    </div>
    <div class="card-deck mt-3">
      {% include soal.html judul="weird" point="5" hint="js weired" link="https://firebasestorage.googleapis.com/v0/b/pftii2-telkom.appspot.com/o/wired.txt?alt=media&token=79d35169-2f48-4f36-a216-907a912442fe" id="9" color="success" %}
    </div>  
  </div>
</div>
<h5 class="mt-3">Hard</h5>
<div class="row">
  <div class="col-lg-12">
    <div class="card-deck">
      {% include soal.html judul="Kodkers" point="5" hint="qrcode" link="https://firebasestorage.googleapis.com/v0/b/pftii2-telkom.appspot.com/o/kodkers.zip?alt=media&token=90512ad9-2cfd-4c8b-be41-99366ce6a8e0" id="10" color="danger" %}
    </div>
  </div>
</div>